<%= form_tag stories_path do %>
	<%= hidden_field_tag :mode, "external" %>

	<p>
		Можно использовать запятые и диапазоны номеров.<br>
		Например:<br>
		<i>12,14,16-22,45</i>
	</p>

	<div class="field">
		<%= text_area_tag :numbers, nil, placeholder: 'Номера историй' %><br>
	</div>

	<%= submit_tag 'Отправить' %>
<% end %>