<%= form_tag stories_path do %>
	<%= hidden_field_tag :mode, "json" %>

	<div class="field">
		<%= text_area_tag :json, nil, placeholder: 'Код JSON' %><br>
	</div>

	<%= submit_tag 'Отправить' %>
<% end %>