<div class="story">
	<div class="meta">
		<%= link_to story.created_at, story, class: "id" %>
		<%= story.rating %>
	</div>
	<div class="title">
		<%= story.title %>
	</div>
	<div class="body">
		<%= story.text %>
	</div>
</div>