<h3>Добавить историю</h3>
<p>Обратите внимание: все истории перед публикацией проходят модерацию.</p>
<%= render 'form' %>

<% if admin? %>
	<h3>Из json</h3>
	<%= render 'json' %>
	<h3>С сайта ithappens.me</h3>
	<%= render 'external' %>
<% end %>
