<h1>New Story</h1>
<%= render 'form' %>

<% if admin? %>
	<h1>Из json</h1>
	<%= render 'json' %>
	<h1>С сайта ithappens.me</h1>
	<%= render 'external' %>
<% end %>

<%= link_to 'Back', stories_path %>
