<p id="notice"><%= notice %></p>

<h3>Все посты с тегом <%= @tag.full %></h3>
<% if admin? %>
	<%= link_to 'Редактировать', edit_tag_path(@tag) %> 
<% end %>

<% @tag.stories.each do |story| %>
	<%= render 'stories/story', story: story %>
<% end %>
