/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
	font-family: sans-serif;
}

a {
	text-decoration: none;
	color: #0000EE;
}
a:hover {
	text-decoration: underline;
}

#container {
	width: 720px;
	margin: 0 auto;
	box-sizing: border-box;
}

#logo {
	margin: 0;
	font-size: 24px;
}

#logo a {
	color: black;
}

.nav {
	margin: 10px 0px;
	font-size: 12px;
}

.nav::after {
	content: "";
	display: block;
	clear: both;
}

.nav .left {
	float: left;
	margin-right: 10px;
}
.nav .right {
	float: right;
	margin-left: 10px;
}

.story {
	margin-top: 25px;
}

.story .meta {
	font-size: 12px;
}

.story .date {
	margin-right: 10px;
}

.story .rating::before {
	content: "";
	display: inline-block;
	position: relative;
	top: 1px;
	width: 12px;
	height: 12px;
	background-image: url('/star.png');
	background-size: contain;
}

.story .plus_one {
	box-sizing: border-box;
	background-color: white;
	color: black;
	border-radius: 1000px;
	font-size: 12px;
	border: none;
}

.story .plus_one:hover {
	background-color: gray;
	color: white;
}

.story .title {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 10px;
}

.story .admin_action {
	margin-left: 5px;
}

.story .tag::before {
	content: '#';
}

.story .tag {
	font-style: italic;
}

.field {
	width: 100%;
	margin-bottom: 10px;
}

.field * {
	width: 100%;
}

.field textarea {
	min-height: 120px;
}

.tags_field {
	margin-bottom: 10px;
}

.short_form {
	margin: 50px 25%;
}

#load_more {
	width: 100%;
	text-align: center;
	padding: 50px;
	background-color: lightgray;
	font-weight: bold;
	border-radius: 5px;
}